.envrc
.vscode/
/tmp
.env
.env.prod

/buckup/*
!/buckup/.gitkeep

/bin/*
!/bin/server/
/bin/server/*
!/bin/server/.gitkeep

# 
# tf
# 

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# 
# cli binary
# 

!/bin/enva/
/bin/enva/*
# darwin
!/bin/enva/darwin
/bin/enva/darwin/*
!/bin/enva/darwin/amd64
/bin/enva/darwin/amd64/*
!/bin/enva/darwin/amd64/.gitkeep
# linux
!/bin/enva/linux
/bin/enva/linux/*
!/bin/enva/linux/386
/bin/enva/linux/386/*
!/bin/enva/linux/386/.gitkeep
!/bin/enva/linux/amd64
/bin/enva/linux/amd64/*
!/bin/enva/linux/amd64/.gitkeep
# win
!/bin/enva/windows
/bin/enva/windows/*
!/bin/enva/windows/386
/bin/enva/windows/386/*
!/bin/enva/windows/386/.gitkeep
!/bin/enva/windows/amd64
/bin/enva/windows/amd64/*
!/bin/enva/windows/amd64/.gitkeep
