html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: blue;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/********************
  header
********************/

.header {
  background-color: #525252;
  position: fixed;
  left: 0;
  top: 0;
}
.header .title a {
  color: #ff9800 !important;
  text-decoration: none !important;
}

/********************
  main
********************/

.main {
  flex: 1;
  overflow-x: hidden;
  width: 100%;
  padding-top: 82px;
}

/********************
  dialog
********************/

.dialogContainer {
  max-width: 600px;
  width: 80vw;
}
.dialogContainer .subButton {
  background-color: #949494;
}

.dialogContainerLarge {
  max-width: 960px;
  width: 90vw;
  overflow-x: hidden;
}

/********************
  href
********************/

.hrefBox {
  cursor: pointer;
  position: relative;
}
.hrefBox:hover {
  opacity: 0.6;
}
.hrefBoxIn {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/********************
  text
********************/

.breakAll {
  word-break: break-all;
}
.likeLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
