html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hrefBox {
  cursor: pointer;
  position: relative;
}
.hrefBox:hover {
  opacity: 0.6;
}
.hrefBoxIn {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
